* {
    font-family: "Poppins", sans-serif;
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

:root {
    --main-dark: #1b1b1b;
    --main-gray: #808080;
    --main-orange: #ffa31a;
    --main-black: #292929;
    --main-white: #F2EFE9;
}

.text-orange {
    color: var(--main-orange);
}

header {
    height: 15vh;
    background-color: var(--main-dark);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-logo {
    height: 50%;
}

.header-logo-image {
    height: 100%;
}


ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    height: 100%;
    width: 50%;
}

li {
    list-style: none;
    height: 100%;
    width: 100px;
}

/* li:hover {
    background-color: var(--main-black);
} */

.header-category {
    height: 100%;
    width: 100%;
    /* Text color */
    color: var(--main-white);
    text-decoration: none;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-category:hover {
    background-color: var(--main-orange);
    color: var(--main-orange);
}

/* Removing default blue color */
.header-category:visited {
    color: var(--main-white);
}

.header-connexion {
    color: var(--main-white);
}

.header-connexion:hover {
    color: var(--main-orange);
}

a {
    text-decoration: none;
}

/* a:visited {
} */

footer {
    height: 15vh;
    background-color: var(--main-dark);
    color: var(--main-white);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.15rem;
}

.footer-text {
    display: flex;
    gap: 2px;
}

.gitlink {
    text-decoration: none;
    color: var(--main-orange);
}

.gitlink:visited {
    color: var(--main-orange);
}

/*             Movie-List                     */

.movielist-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.movielist-card-part {
    width: 100%;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.movielist-card {
    width: 22.5%;
}

.movielist-banner {
    width: 100%;
}